html,
body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    font-style: normal;
    color: $accent;
    min-height: 100vh;
}

hr {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;

    @media (max-width: 680px) {
        max-width: 480px;
    }

    @media (max-width: 365px) {
        padding: 0 10px;
    }
}

.title {
    font-size: 34px;
    line-height: 50px;
    font-weight: 500;

    span {
        display: block;
        font-size: 26px;
    }
}

.subtitle {
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
}

.blockquote {
    font-style: italic;
    padding: 10px 20px;
    border-left: 2px solid $green;
    color: $green;
    font-size: 20px;
    line-height: 28px;

    &__edit {
        color: $accent;
        font-style: normal;
    }
}