html,
body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    font-style: normal;
    color: $accent;
    min-height: 100vh;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.title {
    font-size: 40px;
    line-height: 50px;
    font-weight: 500;
}

.subtitle {
    font-size: 18px;
    line-height: 27px;
    font-weight: 700;

    &--italic {
        font-style: italic;
    }
}

.blockquote {
    padding: 10px 20px;
    border-left: 2px solid $green;
    color: $green;
    font-size: 24px;
    line-height: 36px;
}

.accordion {
    &__btn {
        background-color: transparent;
        border: none;
        padding: 20px 0;
        font-size: 24px;
        font-weight: 500;
        color: $accent;
        cursor: pointer;
        transition: all .2s;
        display: flex;
        align-items: center;

        &-icon {
            margin-top: 3px;
            width: 24px;
            height: 24px;
            fill: $accent;
            margin-right: 10px;
            transition: all .2s;
            transform: rotate(0deg);
        }

        &:hover {
            color: $green;

            .accordion__btn-icon {
                fill: $green;
            }
        }
    }

    .accordion__btn--active {
        .accordion__btn-icon {
            transform: rotate(-180deg);
            margin-top: 0px;
        }
    }

    &__content {
        display: none;
    }
}