@media (max-width: 1025px) {
    .section {
        padding: 20px 0;
    }

    .article {
        padding: 40px;
        border: none;
    }
}

@media (max-width: 1000px) {
    body {
        font-size: 16px;
        line-height: 26px;
    }

    .title {
        font-size: 36px;
    }

    .subtitle {
        font-size: 18px;
    }

    .article {

        &__title,
        &__subtitle,
        &__text,
        &__text-italic,
        &__blockquote,
        &__figure,
        &__reading,
        .article__social,
        &__author,
        &__divider {
            margin-bottom: $mb-tb;
        }
    }
}

@media (max-width: 900px) {
    .article {
        &__inner--big {
            flex-direction: column;

            .article__figure,
            .article__inner-content {
                max-width: 100%;
            }
        }
    }
}

@media (max-width: 820px) {
    .title {
        font-size: 28px;
        line-height: 36px;
    }

    .article {
        padding: 10px;

        &__inner {
            &-figure {
                max-width: 40%;
            }

            &-content {
                max-width: 56%;
            }

            &--width {
                flex-direction: column;

                .article__figure {
                    max-width: 100%;

                    .article__img {
                        height: 100%;
                        max-height: 100%;
                    }
                }
            }
        }

        &__inner--img {
            flex-wrap: wrap;
            justify-content: space-around;

            .article__inner-figure {
                max-width: 47%;
            }

            .article__inner-content--small {
                max-width: 100%;
            }

        }

        &__figcaption {
            font-size: 12px;
            line-height: 18px;
        }
    }

    .blockquote {
        font-size: 18px;
        padding: 5px 10px;
    }
}

@media (max-width: 680px) {
    .title {
        font-size: 26px;
        line-height: 30px;
    }

    .article {
        padding: 10px;

        &__title,
        &__subtitle,
        &__text,
        &__text-italic,
        &__blockquote,
        &__figure,
        &__reading,
        .article__social,
        &__author,
        &__divider {
            margin-bottom: $mb-mb;
        }

        &__inner {
            flex-direction: column;

            &-figure {
                max-width: 100%;

                .article__img {
                    height: 100%;
                    object-fit: contain;
                }
            }

            &-content {
                max-width: 100%;
            }
        }

        &__inner-img {
            max-width: 100%;

            .article__img {
                max-height: 100%;
                object-fit: contain;
                height: auto;
            }
        }

        &__inner--img {
            flex-wrap: wrap;
            justify-content: space-around;

            .article__inner-figure {
                max-width: 100%;
            }

            .article__inner-content--small {
                max-width: 100%;
            }

        }

        &__figcaption {
            font-size: 12px;
            line-height: 18px;
        }

        .article__social {
            padding: 10px 5px;
        }
    }
}

@media (max-width: 400px) {

    body {
        font-size: 14px;
        line-height: 22px;
    }

    .blockquote {
        font-size: 16px;
    }

    .title {
        font-size: 22px;
        line-height: 26px;
    }

    .subtitle {
        font-size: 16px;
    }

    .article {
        &__reading {
            font-size: 14px;
        }
    }
}