@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.section {
    padding: 60px 0;
}

.article {
    padding: 60px 80px;
    border: 1px solid rgba(219, 219, 219, 0.75);

    &__img {
        width: 100%;
    }


    &__figure-icon {
        position: absolute;
        width: 50px;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        transition: all .2s;
    }

    &__figure-link {
        display: block;
        position: relative;

        &:hover {
            .article__figure-icon {
                transform: translateX(-50%) translateY(-50%) scale(1.1);
            }
        }
    }

    &__figcaption {
        font-size: 14px;
        line-height: 20px;
        margin-top: 5px;
        text-align: center;
    }

    &__title,
    &__subtitle,
    &__text,
    &__text-italic,
    &__blockquote,
    &__figure {
        margin-bottom: $mb;
    }

    &__text--accent {
        font-weight: 700;
        font-style: italic;
    }

    &__reading {
        font-size: 16px;
        text-align: right;
        margin-bottom: $mb;
    }

    &__text-italic {
        font-style: italic;
    }

    &__inner {
        display: flex;
        justify-content: space-between;

        &--img {

            .article__img {
                object-fit: cover;
                height: 320px;
            }
        }
    }

    &__inner-figure {
        flex: none;
        max-width: 30%;
        width: 100%;
        height: 100%;
    }

    &__inner-content {
        max-width: 65%;

        &--small {
            max-width: 30%;
        }
    }

    &__inner-img {
        width: 100%;
        height: 100%;
        max-width: 47%;

        .article__img {
            max-height: 500px;
            height: 100%;
            object-fit: cover;
        }
    }

    .article__social {
        padding: 20px 5px;
        margin-bottom: $mb;
        display: flex;
        border-top: 1px solid $accent;
        border-bottom: 1px solid $accent;

        &-item {
            width: 36px;
            height: 36px;

            .article__social-link {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 8px;
                width: 100%;
                height: 100%;
                transition: all 0.4s;
                border-radius: 50%;

                .social-icon {
                    width: 28px;
                    height: 28px;
                    fill: $accent;
                    transition: all 0.4s;
                }
            }

            &:hover {
                .article__social-link {
                    background: $green;

                    .social-icon {
                        fill: white;
                    }
                }
            }
        }
    }

    &__social-item+&__social-item {
        margin-left: 20px;
    }

    &__author {
        margin-bottom: $mb;

        &-title {
            font-size: 18px;
            margin-bottom: 10px;
        }

        &-date {
            font-size: 18px;
        }
    }

    &__divider {
        border: none;
        border-top: 1px solid $accent;
        margin-bottom: $mb;
    }

    u {
        color: $green;
    }

    &__blockquote--preview {
        color: $accent;
        border: none;
        padding-left: 0;
    }

    .first-part-link {
        color: $green;
        text-decoration: underline;
    }
}

@import 'media';